.contact {
    width: 80%;
    margin: auto;
    margin-top: 15%;
    margin-left: 10%;
    display: block;
}
.socials li{
    padding:0 10px;
}

.contact h1{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 10px;
}


.contact h2{
    color: antiquewhite;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -3px;
    text-transform: uppercase;
}

p{
    font-size:15px;
    text-transform:uppercase;
}